<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>ampel-led</title>
  <link rel="stylesheet" type="text/css" href="/static/root.css"/>
  <link rel="stylesheet" type="text/css" href="/static/style.css"/>
</head>

<body>
  <h1>Ampel led</h1>
  <div class="main-content">
      <div class="ampel">
        <div class="ampel-led">
          <div class="led led-red-disabled">
          </div>
          <div class="led led-orange-disabled">
          </div>
          <div class="led led-green-disabled">
          </div>
        </div>
        <div class="ampel-stick">
        </div>
      </div>
  </div>
</body>

</html>
