<html lang="en" hx-headers='{"Content-Type": "application/json"}'>

<head>
  <meta charset="UTF-8" />
  <title>ampel-led</title>
  <link rel="stylesheet" type="text/css" href="/static/root.css"/>
  <link rel="stylesheet" type="text/css" href="/static/style.css"/>
</head>

<body>
  <h1>Ampel led</h1>
  <div class="main-content">
      <div class="ampel">
        <div class="ampel-led">
          <div class="led led-red-disabled" 
            hx-post="/api/led/on" 
            hx-vals='{"color": "red"}'
            hx-headers='{"Content-Type": "application/json"}' 
            hx-ext="json-enc">
          </div>
          <div class="led led-orange-disabled" 
            hx-post="/api/led/on"
            hx-vals='{"color": "orange"}'
            hx-headers='{"Content-Type": "application/json"}' 
            hx-ext="json-enc">
          </div>
          <div class="led led-green-disabled" 
            hx-post="/api/led/on"
            hx-vals='{"color": "green"}'
            hx-headers='{"Content-Type": "application/json"}' 
            hx-ext="json-enc">
          </div>
        </div>
        <div class="ampel-stick">
        </div>
      </div>
  </div>
</body>
<script src="/static/htmx.min.js"></script>
<script src="/static/json-enc.js"></script>
</html>
