:root {
  --natural0-brush-color: white;
  --natural50-brush-color: #f9f9f9;
  --natural100-brush-color: #f2f2f2;
  --natural150-brush-color: #e5e5e5;
  --natural200-brush-color: #d9d9d9;
  --natural250-brush-color: #cccccc;
  --natural300-brush-color: #bfbfbf;
  --natural350-brush-color: #b3b3b3;
  --natural400-brush-color: #a6a6a6;
  --natural450-brush-color: #999999;
  --natural500-brush-color: #8c8c8c;
  --natural550-brush-color: #808080;
  --natural600-brush-color: #737373;
  --natural650-brush-color: #666666;
  --natural700-brush-color: #595959;
  --natural750-brush-color: #4d4d4d;
  --natural800-brush-color: #404040;
  --natural850-brush-color: #333333;
  --natural900-brush-color: #262626;
  --natural950-brush-color: #1a1a1a;
  --natural1000-brush-color: #0d0d0d;
  --natural1050-brush-color: black;

  --green0-brush-color: #e6f9f0;
  --green50-brush-color: #ccf2e1;
  --green100-brush-color: #b3ecd3;
  --green150-brush-color: #99e6c4;
  --green200-brush-color: #80dfb6;
  --green250-brush-color: #66d8a7;
  --green300-brush-color: #4dd299;
  --green350-brush-color: #33cc8a;
  --green400-brush-color: #1ac67c;
  --green450-brush-color: #00bf6d;
  --green500-brush-color: #00a860;
  --green550-brush-color: #009153;
  --green600-brush-color: #007a47;
  --green650-brush-color: #00633a;
  --green700-brush-color: #004c2e;
  --green750-brush-color: #003522;
  --green800-brush-color: #001e15;
  --green850-brush-color: #00140f;
  --green900-brush-color: #000d09;
  --green950-brush-color: #000603;
  --green1000-brush-color: #000000;
  --green1050-brush-color: #000000;

  --orange0-brush-color: #fff5e6;
  --orange50-brush-color: #ffeacc;
  --orange100-brush-color: #ffdfb3;
  --orange150-brush-color: #ffd499;
  --orange200-brush-color: #ffc980;
  --orange250-brush-color: #ffbe66;
  --orange300-brush-color: #ffb34d;
  --orange350-brush-color: #ffa833;
  --orange400-brush-color: #ff9d1a;
  --orange450-brush-color: #ff9200;
  --orange500-brush-color: #e68300;
  --orange550-brush-color: #cc7400;
  --orange600-brush-color: #b36500;
  --orange650-brush-color: #995600;
  --orange700-brush-color: #804700;
  --orange750-brush-color: #663800;
  --orange800-brush-color: #4d2900;
  --orange850-brush-color: #331a00;
  --orange900-brush-color: #1a0b00;
  --orange950-brush-color: #0d0500;
  --orange1000-brush-color: #000000;
  --orange1050-brush-color: #000000;

  --red0-brush-color: #ffe6e6;
  --red50-brush-color: #ffcccc;
  --red100-brush-color: #ffb3b3;
  --red150-brush-color: #ff9999;
  --red200-brush-color: #ff8080;
  --red250-brush-color: #ff6666;
  --red300-brush-color: #ff4d4d;
  --red350-brush-color: #ff3333;
  --red400-brush-color: #ff1a1a;
  --red450-brush-color: #ff0000;
  --red500-brush-color: #e60000;
  --red550-brush-color: #cc0000;
  --red600-brush-color: #b30000;
  --red650-brush-color: #990000;
  --red700-brush-color: #800000;
  --red750-brush-color: #660000;
  --red800-brush-color: #4d0000;
  --red850-brush-color: #330000;
  --red900-brush-color: #1a0000;
  --red950-brush-color: #0d0000;
  --red1000-brush-color: #000000;
  --red1050-brush-color: #000000;


  --disabled-opacity: 0.75;
}
